@tailwind base;
@tailwind components;
@tailwind utilities;




body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}



.image-wrapper {
  position: relative;
  display: inline-block;
}

.image-container {
  position: relative;
}

.black-overlay {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  background-color: black;
}


